.loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-fit-content;
  width: fit-content;
  font-size: 200px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #000;
  --g:conic-gradient(#000 0 0) no-repeat text;
  background: var(--g) 0, var(--g) 1ch, var(--g) 2ch, var(--g) 3ch, var(--g) 4ch, var(--g) 5ch, var(--g) 6ch;
  background-position-y: 100%;
  animation: l15 3s infinite;
}

.loader:before {
  content: "Loading";
}

@keyframes l15 {
  0% {
    background-size: 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  14.28% {
    background-size: 1ch 100%, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  28.57% {
    background-size: 1ch 100%, 1ch 100%, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  42.85% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 0, 1ch 0, 1ch 0, 1ch 0;
  }
  57.14% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 0, 1ch 0, 1ch 0;
  }
  71.43% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 0, 1ch 0;
  }
  85.71% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 0;
  }
  100% {
    background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%;
  }
}
@media all and (max-width: 768px) {
  .parent-1 {
    flex-direction: column;
  }
  .parent-1 .img-container {
    width: 95%;
    gap: 10px;
  }
  .parent-1 .img-container img {
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  body {
    font-size: 20px;
  }
  .parent-1 .img-container .text {
    font-size: 0.8rem;
  }
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  height: 55px;
  background-color: #0D1721;
}
.nav li {
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  float: left;
  background-color: #0D1721;
}
.nav li:hover {
  background-color: #04AA6D;
}
.nav li a {
  text-decoration: none;
  color: white;
}
.nav li a:hover {
  color: black;
}
.nav .active {
  color: black;
  background-color: #04AA6D;
}

* {
  box-sizing: border-box;
  font-family: "Jetbrains Mono", system-ui, sans-serif;
}

body {
  font-size: 25px;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;
}

.sub-header {
  font-size: large;
  text-align: center;
}

.header {
  font-size: 2em;
  text-align: center;
}

.smol {
  font-size: 20px;
}

.parent-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.parent-1 .img-container {
  border: 3px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 48%;
}
.parent-1 .img-container img {
  width: 100%;
}
.parent-1 .img-container .text {
  font-size: 1rem;
}

.q {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.tab1 {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

.tab1 {
  width: 90vw;
  margin: 0 auto;
  max-width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
.tab1 td, .tab1 th {
  max-width: 100%;
  overflow-wrap: break-word;
}

.tab1, .tab1 tr, .tab1 td, .tab1 th {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.dark {
  position: sticky;
  top: 90%;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-left: calc(100% - 60px);
}

#dark {
  display: hidden;
}

.c {
  background-color: yellow;
  font-family: arial;
  font-size: 15px;
  margin: 0;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */
